<article data-block-type="{{ .itemType }}" class="container">
  <ul class="flex flex-wrap justify-center ">
  {{ range .card }}
    {{- $hero := .hero -}}
    {{- if (reflect.IsMap $hero) -}}
      {{- $hero = .hero.url -}}
    {{- end -}}
    {{- $sdgLogo := .sdgLogo -}}
    {{- if (reflect.IsMap $sdgLogo) -}}
      {{- $sdgLogo = .sdgLogo.url -}}
    {{- end -}}
    <li class="card-block flex flex-col border border-light-border rounded">
      <a href="{{ .externalUrl }}" target="_blank" title="SDG {{ .sdgNumber }}: {{ .title }}">
        <div class="overflow-hidden">
          <img class="hero" src="{{ $hero }}" />
        </div>
        <img class="icon" src="{{ $sdgLogo}}" />
        <div class="pt-8 p-2 flex-1">
          <h2 class="card-title">{{ .title }}</h2>
          <p>{{ .abstract | markdownify }}</p>
          <p class="more-link self-end">{{ i18n "learn_more" }}</p>
        </div>

      </a>
    </li>
  {{ end }}
  </ul>
</article>
