<article data-block-type="{{ .itemType }}" class="relative flex items-center justify-center h-screen overflow-hidden -my-12 md:-my-4 md:container md:mx-auto md:rounded">

  {{- if .title -}}
  <div class="absolute top-0 bottom-0 left-0 right-0 site-container flex items-center justify-center z-20">
    <h1 class="hero-message">{{ .title | safeHTML }}</h1>
  </div>
  {{- end -}}
  {{- if .heroAsset -}}
    <video class="absolute z-10 w-auto min-w-full min-h-full max-w-none" loop autoplay muted>
      <source src="{{ .heroAsset.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  {{- end -}}
</article>
