{{- partial "chrome_top.html" . -}}

<main class="site-width site-buffer">
  <header class="py-12 site-width">
    <h1 class="header header-small">{{ .Title }}</h1>
  </header>
  <div class="flex flex-col md:flex-row gap-10">
    <nav class="flex flex-col">
      <a href="#colors" class="text-highlight whitespace-nowrap hover:underline">Colors</a>
      <a href="#headers" class="text-highlight whitespace-nowrap hover:underline">Headers</a>
      <a href="#projects" class="text-highlight whitespace-nowrap hover:underline">Projects</a>
      <a href="#body" class="text-highlight whitespace-nowrap hover:underline">Body</a>
      <a href="#spacers" class="text-highlight whitespace-nowrap hover:underline">Spacers</a>
      <a href="#button" class="text-highlight whitespace-nowrap hover:underline">Button</a>
      <a href="#projectHighlightLarge" class="text-highlight whitespace-nowrap hover:underline">Project Highlight Large</a>
      <a href="#projectTileLarge" class="text-highlight whitespace-nowrap hover:underline">Project Tile Large</a>
      <a href="#projectTileSmall" class="text-highlight whitespace-nowrap hover:underline">Project Tile Small</a>
      <a href="#tabs" class="text-highlight whitespace-nowrap hover:underline">Tabs</a>
      <a href="#contentComponents" class="text-highlight whitespace-nowrap hover:underline">Content components</a>
    </nav>
    <div>
      <section id="colors" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Colors</h2>
        <ul class="flex flex-wrap gap-2">
          <li class="w-10 h-10 bg-yellow"></li>
          <li class="w-10 h-10 bg-light-yellow"></li>
          <li class="w-10 h-10 bg-white"></li>
          <li class="w-10 h-10 bg-red"></li>
          <li class="w-10 h-10 bg-light-red"></li>
          <li class="w-10 h-10 bg-light-grey"></li>
          <li class="w-10 h-10 bg-teal"></li>
          <li class="w-10 h-10 bg-light-teal"></li>
          <li class="w-10 h-10 bg-med-grey"></li>
          <li class="w-10 h-10 bg-navy"></li>
          <li class="w-10 h-10 bg-light-navy"></li>
          <li class="w-10 h-10 bg-dark-grey"></li>
        </ul>
      </section>
      <section id="headers" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Headers</h2>
        <h1 class="header header-large">header-large</h1>
        <h2 class="header header-medium">header-medium</h2>
        <h3 class="header header-small">header-small</h3>
        <h4 class="header header-xs">header-xs</h4>
        <h5 class="header header-xxs">header-xxs</h5>
        <h2 class="header-sohne header-section">section-header</h2>
        <h2 class="header-sohne header-section decorated">section-header-decorated</h2>
      </section>
      <section id="projects" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Projects</h2>
        <h1 class="header header-title-large">title-large</h1>
        <h1 class="header header-title-small">title-small</h1>
        <h1 class="header-sohne header-sector-tag-large">sector-tag-large</h1>
        <h1 class="header-sohne header-sector-tag-small">sector-tag-small</h1>
      </section>
      <section id="body" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Body</h2>
        <p class="body-highlight">body-highlight</p>
        <p>body</p>
        <p class="body-small">body-small</p>
      </section>
      <section id="spacers" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Spacers</h2>
        <p>Use default TailwindCSS spacing <a href="https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale">mapped here</a></p>
      </section>
      <section id="button" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Button</h2>
        <button class="btn btn-light">Learn more</button>
        <button class="btn btn-dark">Learn more</button>
        <a href="" class="btn btn-light">Learn more</a>
        <a href="" class="btn btn-dark">Learn more</a>
      </section>
      <section id="projectHighlightLarge" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Project Highlight Large</h2>
        {{ range .Params.projectHighlightLarge }}
          {{- partial "projects/highlight_large.html" . -}}
        {{ end }}
      </section>
      <section id="projectTileLarge" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Project Tile Large</h2>
        <div class="grid grid-cols-1 gap-y-11 md:grid-cols-6 md:gap-11">
          {{ range .Params.projectTileLarge }}
            {{- partial "projects/tile_large.html" . -}}
          {{ end }}
        </div>
      </section>
      <section id="projectTileSmall" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Project Tile Small</h2>
        <div class="grid grid-cols-1 gap-y-11 md:grid-cols-6 md:gap-11">
          {{ range .Params.projectTileSmall }}
            {{- partial "projects/tile_small.html" . -}}
          {{ end }}
        </div>
      </section>
      <section id="tabs" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Tabs</h2>
        <div
          x-data="{
            selectedTab: 'tab1'
          }"
        >
          <ul class="flex gap-x-12">
            {{ range $num := (seq 4) }}
              <li>
                <button
                  class="btn btn-text-light px-0"
                  :class="{ 'border-b-4 border-navy': selectedTab === 'tab{{ $num }}' }"
                  @click="selectedTab = 'tab{{ $num }}'"
                >
                  Tab {{ $num }}
                </button>
              </li>
            {{ end }}
          </ul>
          {{ range $num := (seq 4) }}
            <section
              x-show="selectedTab === 'tab{{ $num }}'"
              x-cloak
            >Tab {{ $num }} content</section>
          {{ end }}
        </div>
      </section>
      <section id="contentComponents" class="pb-16">
        <h2 class="header-sohne header-section decorated pb-6">Content components</h2>
        <p>See the <a href="/contentblocks">content blocks</a> page</p>
      </section>
    </div>
  </div>
</main>

{{- partial "chrome_bottom.html" . -}}
