@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";


// Fonts & Set up
//===============================================//

// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Open+Sans:ital@0;1&display=swap');




// Setup font styles

.font-body {
  font-family: 'Open Sans', sans-serif;
}
.font-display {
  font-family: 'VFSans-Bold', sans-serif;
}
.font-special {
  font-family: 'Libre Caslon Display', serif;
}

// Color themes
//===============================================//


@layer base {
  :root {
    --color-bg:         theme('colors.white');
    --color-border:     theme('colors.neutral.100');
    --color-well:       theme('colors.black');
    --color-primary:    theme('colors.black');
    --color-secondary:  theme('colors.blue.300');
    --color-accent:     theme('colors.black');
    --color-highlight:  theme('colors.black');
  }

  .th-info {
    --color-bg:         theme('colors.neutral.100');
    --color-primary:    theme('colors.neutral.DEFAULT');
    --color-accent:     theme('colors.blue.DEFAULT');
  }
}

@layer components {

  /* Hide meta data when content is copied from Figma */
  span[data-metadata],
  span[data-buffer] {
    @apply hidden;
  }

  header.nav {
    @apply fixed;
    @apply top-0;
    @apply inset-x-0;
    @apply bg-transparent;
    nav {
      .main {

      }
    }
  }

  section {
    @apply py-12;

    article {
      @apply max-w-screen-xl;
      @apply mx-auto;

      .section-title {
        @apply text-xl;
        @apply text-center;
        @apply uppercase;
        @apply pb-4;
        @apply tracking-wide;
      }
      p {
        @apply pb-2;
      }
    }
  }

  .container {
    @apply mx-auto;
    @apply px-2;
  }



}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {

}

// TW adjustments
@layer utilities {
  .items-last-baseline {
    align-items: last baseline;
  }

  .transform-custom {
    transform: translateX(var(--tw-translate-x));
  }
}


// AlpineJS specific classes
[x-cloak] {
  display: none !important;
}
