@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";


// Fonts & Set up
//===============================================//

@layer base {

  html {
    @apply font-body;
    @apply text-th-primary;
  }



  // Define your root color theme here using Tailwind named colors
  :root {
    --color-bg:         theme('colors.white');
    --color-border:     theme('colors.neutral.300');
    --color-well:       theme('colors.neutral.100');
    --color-primary:    theme('colors.neutral.900');
    --color-secondary:  theme('colors.eco.700');
    --color-accent:     theme('colors.eco.DEFAULT');
    --color-highlight:  theme('colors.black');
  }

  // Create color themes here using "th-"" as a prefix
  .th-info {
    --color-bg:         theme('colors.neutral.50');
    --color-primary:    theme('colors.neutral.600');
    --color-accent:     theme('colors.eco.700');
  }
}

@layer components {

  /* Hide meta data when content is copied from Figma */
  span[data-metadata],
  span[data-buffer] {
    @apply hidden;
  }

  header.nav {

  }

  section {
    @apply py-12;

    article {
      @apply max-w-screen-xl;
      @apply mx-auto;

      .hero-title {
        @apply font-display;
        @apply font-bold;
        @apply leading-extra-tight;
        @apply tracking-tight;
      }

      .hero-summary {
        @apply max-w-screen-md;
        @apply font-body;
        @apply leading-snug;
        @apply tracking-tight;
      }

      .section-slug {
        @apply font-display;
        @apply uppercase;
        @apply text-xl;
        @apply text-center;
        @apply pb-2;
        @apply text-th-secondary;
        @apply leading-loose;
        @apply tracking-wide;

      }
      .section-title {
        @apply font-display;
        @apply font-bold;
        @apply text-3xl;
        @apply text-center;
        @apply pb-4;
        @apply leading-extra-tight;
        @apply tracking-tight;
      }

      p {
        @apply pb-2;
      }
    }
  }

  .container {
    @apply mx-auto;
    @apply px-2;
  }



}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {

}

// TW adjustments
@layer utilities {
  .items-last-baseline {
    align-items: last baseline;
  }

  .transform-custom {
    transform: translateX(var(--tw-translate-x));
  }
}


// AlpineJS specific classes
[x-cloak] {
  display: none !important;
}
