
{{- range .Params.content -}}
<section id="{{ .menuTitle | urlize }}"
  class="
  py-12
  border-t
  border-th-border
  ">
  {{- range .content -}}
    {{- if eq .itemType "hero" -}}
      {{- partial "content_blocks/hero.html" . -}}
    {{- end -}}
    {{- if eq .itemType "intro_block" -}}
      {{- partial "content_blocks/intro-block.html" . -}}
    {{- end -}}
    {{- if eq .itemType "team_block" -}}
      {{- partial "content_blocks/team-block.html" . -}}
    {{- end -}}
    {{- if eq .itemType "flex_grid" -}}
      {{- partial "content_blocks/flex-grid.html" . -}}
    {{- end -}}
    {{- if eq .itemType "image" -}}
      {{- partial "content_blocks/image.html" . -}}
    {{- end -}}
    {{- if eq .itemType "text_image" -}}
      {{- partial "content_blocks/text-image.html" . -}}
    {{- end -}}
    {{- if eq .itemType "logo_wall" -}}
      {{- partial "content_blocks/logo-wall.html" . -}}
    {{- end -}}
    {{- if eq .itemType "card_carousel" -}}
      {{- partial "content_blocks/card-carousel.html" . -}}
    {{- end -}}
  {{- end -}}
  </section>
{{- end -}}
